/* studio + portfolio */
.body {
  font-family: roboto, sans-serif;
  color: #757575;
}

/* webstudio */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

/* верхний логотип цвет Studio */
.logo-web {
  color: #292929;
}

/* нижний логотип цвет Studio */
.logo-web2 {
  color: #ffffff;
}
/* убрал подчеркивание */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link:active {
  color: #2196f3;
}

/* studio */
.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* link студия портфолио + контакты */
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.text-p {
  font-size: 14px;
  line-height: 1.71;
}

.text-team {
  font-size: 16px;
  line-height: 1.37;
}

/* portfolio <p текст */
.text-pf {
  font-size: 16px;
  line-height: 1.87;
}

/* studio link студия и на portfolio link портфолио*/
.web {
  color: #2196f3;
}

/* нижний адресс */
.down-nav {
  font-size: 14px;
  line-height: 1.71;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #ffffff;
  list-style: none;
}

/* studio */
.footer {
  background-color: #2f303a;
}

/* нижние tel + web */
.inf {
  font-size: 14px;
  line-height: 1.71;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* убирает точки по краям */
.list {
  list-style: none;
}

/* studio main */
.section-one {
  background-color: #2f303a;
}

/* studio img */
.imgh2 {
  left: 215px;
  top: 1061px;
}

/* studio img */
.imgh3 {
  left: 215px;
  top: 1635px;
}

/* studio */
.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}

/* portfolio h2 */
.h2-pf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  align: Left;
  vertical-align: Top;
  letter-spacing: 6%;
  fill: Solid;
  color: #212121;
}
/* studio */
.h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

/* studio команда */
.h3-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

/* studio основная кнопка */
.button {
  font-family: Roboto, sans-serif;
  background-color: #2196f3;
  border: none;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  margin: 4px 2px;
  cursor: pointer;
}
/* для кнопки studio  */
.button:hover,
.button:focus {
  color: var(--accent-color);
}
.button:active {
  color: #777777;
}

/* portfolio кнопки */

.button-all {
  font-family: Roboto;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.03em;

  color: #ffffff;
  cursor: pointer;
}

.button-pf {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  line-height: 1.39;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;

  color: #212121;
  list-style: none;
  cursor: pointer;
}

.button-pf:hover,
.button-pf:focus {
  color: var(--accent-color);
}

.button-pf:active {
  color: #2196f3;
}

.button-all:hover,
.button-all:focus {
  color: var(--accent-color);
}

.button-all:active {
  color: #777777;
}

/* studio portfolio номер телефона */
.telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
